%br
%br

%nav.navbar
    %ul.nav.navbar-nav
    %a{:href => "index.html"} Local
    %a{:href => ""} Politics
    %a{:href => "#"} Economy
    %a{:href => "#"} Sports
    %a{:href => "#"} Entertainment
    %a{:href => "#"} Blog
    %br
%br
%br



