.app-navbar {
    width: 70%;
    padding-block-start: 3%;
    padding-inline-start:5%;
    $background-color: #f8fafc;
    font-family: "Avenir next" ;
    font-size: 30px; 
    word-spacing: 20px;

  }
  